# Libraries we need to this project

In [1]:
pip install kafka-python
pip install s3fs

Collecting kafka-python
  Using cached kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

# Import libraries

In [25]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

# READ DATE FROM JSON FILE IN LOCAL MACHINE AND DISPLAY PRELIMINAR INFORMATION

In [26]:
df = pd.read_json("D:\\BIGDATA\\420_D07_BB_DEVELOPPEMENT_DE_TRAITEMENTS_DISTRIBUES\\projet\\project_streaming\\foodsAzure.json")

In [27]:
df.head()

,product/productId,review/userId,review/profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,B001E5E3AI,AKD79YTGPN91D,Dawn Michelle Bourgeois,3/3,5,1168560000,great!,"I use this cereal for not only cereal, but als..."
1,B001E5E3AI,A1ZE0VRNJU2YTC,"Sheila Karron ""'bubbles'""",3/3,5,1167782400,Yummy gluten free cereal,"It evens says ""snap,crackle,pop."" Not only is ..."
2,B001E5E3AI,A6TOGEJT5XSCI,Grace Blue Jay,2/2,4,1290297600,Good Cereal,Erewhon crispy brown rice cereal is good.<br /...
3,B001E5E3AI,A2LILD7EJDHSW3,Watergrrl,2/2,1,1267920000,Not a substitute for Rice Krispies unfortunately,"I'm a cereal fanatic, but I've got celiac so I..."
4,B001E5E3AI,A3IUDU10AA2R61,"Allison Grover ""Reader Mom""",2/2,4,1213920000,Love the Crispy Brown Rice!,We love this cereal - it crackles! My 2-year o...

# With pandas execute some traitement in data frame.  Display again with transformations implemented.

In [28]:
#Delete columns non necessary from the analysis
df = df.drop('review/text', axis=1)
df = df.drop('review/helpfulness',axis=1)

#modify columns names
df = df.rename(columns={'product/productId': 'productId', 
                        'review/userId': 'userId',
                        'review/profileName': 'profileName',
                        'review/score': 'score',
                        'review/time': 'date_review',
                        'review/summary': 'summary'})

#transform date from linux format to datetime format and next convert to string type
df['date_review'] = pd.to_datetime(df['date_review'], unit='s')
df['date_review'] = df['date_review'].astype(str)

In [29]:
df.head()

,productId,userId,profileName,score,date_review,summary
0,B001E5E3AI,AKD79YTGPN91D,Dawn Michelle Bourgeois,5,2007-01-12,great!
1,B001E5E3AI,A1ZE0VRNJU2YTC,"Sheila Karron ""'bubbles'""",5,2007-01-03,Yummy gluten free cereal
2,B001E5E3AI,A6TOGEJT5XSCI,Grace Blue Jay,4,2010-11-21,Good Cereal
3,B001E5E3AI,A2LILD7EJDHSW3,Watergrrl,1,2010-03-07,Not a substitute for Rice Krispies unfortunately
4,B001E5E3AI,A3IUDU10AA2R61,"Allison Grover ""Reader Mom""",4,2008-06-20,Love the Crispy Brown Rice!

#  Information relative to Kafka Producer

In [30]:
producer = KafkaProducer(bootstrap_servers=['IP.IP.IP.IP:9092'],
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [31]:
#  Empty information in producer.
producer.flush()

In [ ]:
#  Producer begins to send information to producer,  sleep to simulate the streaming

In [32]:
while True:
    dict_review = df.sample(1).to_dict(orient='records')[0]
    producer.send('project_streaming', value=dict_review)
    sleep(5)

KeyboardInterrupt: